body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.top{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    text-align: center;
    text-decoration: none;
    background-color: rgba(240, 248, 255, 0.784);
    border-width: 0px 0px 1px 0px;
    height: 30px;
    width: 100%;
   border-top: 1px solid #e3dddd;
    border-bottom: 1px solid #e3dddd;
    overflow: hidden;
    float: left;
}
.top>.top_html{
    color: black;
    font-size: 10px;
    margin-left: 10px;
    text-decoration: none;
    /* text-align: center; */
    line-height: 28px;
    margin-left: 390px;
}
.top_html>a{
    color: black;
    font-size: 10px;
    line-height: 28px;
    text-decoration: none;
}
.top_html a :nth-of-type(2){
    margin-left: 10px;
}
.top_html a:hover{
    color: blue;
    /* background-color: rgb(255, 255, 255); */
}
.container{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    /* background-color: rgba(22, 91, 152, 0.652); */
    /* border-width: 0px 0px 0px 0px; */
    height: 1000px;
    width: 100%;
}
.left{
    float: 1;
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 25%;

}
.center{
    float: 3;
    background-color: rgb(245, 245, 242);
    height: 800px;
    width: 50%;
}
.right{
    float: 1;
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 25%;
}
.navbar{
    justify-content: space-between;
    /* flex-direction: row; */
    align-items: center;
    display: flex;
    padding: 10px 20px;
    background-color: #f5f7f9;
    border-bottom: 1px solid #ddd;
}
.user-info{
    align-items: center;
    display: flex;
    /* text-align: right; */
}
.user-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.user-details > p > a{
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.user-details > p > a:hover{
    color: rgb(234, 31, 37);
}
.user-details > p  > span{
   color:grey;
}
.ad-box-top-left, .ad-box-top-right, .ad-box-bottom-left, .ad-box-bottom-right {
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: red;
    background-image: url(touxiang.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    animation: blink 0.1s infinite alternate;/* 闪烁,0.1s一次,无限次,交替正反 */
    display: flex;
}
@media screen and (max-width: 800px) {
    .ad-box-top-left, .ad-box-top-right, .ad-box-bottom-left, .ad-box-bottom-right {
       transform: scale(0.3);
    }
    
}

@keyframes blink {
    from { opacity: 0.5; }
    to { opacity: 1; }
    0% { transform: translate(2px, 2px); }
    25% { transform: translate(-2px, -2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, 2px); }
    100% { transform: translate(2px, 2px); }

}
.top-left { top: 0; left: 0;transform-origin:top left; }
.top-right { top: 0; right: 0; transform-origin: top right;}
.bottom-left { bottom: 0; left: 0;transform-origin: bottom left; }
.bottom-right { bottom: 0; right: 0; transform-origin: bottom right;}
.ad-box-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
    /* line-height: 20px; */
    font-size: 12px;
    cursor: pointer;
}
.goods{
    height: 400px;
    background-color: blanchedalmond;
}